/* Universal Selector */
* {
  /* properti CSS di sini */
  margin: 0; /* menghapus margin default */
  padding: 0; /* menghapus padding default */
}


/* Tag / Element HTML */
h1 {
  color: red; /* memberi warna merah */
}


/* Berlaku untuk semua elemen dengan class "isiteks" */
.isiteks {
  color: #99ccff; /* memberi warna biru muda */
  font-size: 36px; /* mengatur ukuran font */
}

/* Hanya berlaku untuk elemen <p> dengan class "isiteks" */
p.isiteks {
  color: #FF0000; /* memberi warna merah */
  font-size: 36px; /* mengatur ukuran font */
}

/* ID Selector */
#footer {
  color: blue; /* memberi warna biru */
  border: 1px solid black; /* memberi border hitam */
}

/* Child Selector */
div > p {
  color: white; /* teks putih */
  background: green; /* latar belakang hijau */
  padding: 2px; /* mengatur jarak padding */
}

/* Descendant Selector */
div h2 {
  font-size: 26px; /* mengatur ukuran font */
  text-align: center; /* mengatur teks ke tengah */
}

/* Adjacent Sibling Selector */
h1 + h2 {
  color: red; /* memberi warna merah */
}

/* General Sibling Selector */
div ~ p {
  background-color: yellow; /* memberi latar belakang kuning */
}
