/* Border dengan garis lurus (solid) hitam */
.border-solid {
    border-style: solid; /* gaya garis solid */
    border-width: 2px; /* ketebalan 2px */
    border-color: #000000; /* warna hitam */
    padding: 2px; /* jarak dalam 2px */
}

/* Border dengan titik-titik merah */
.border-dotted {
    border-style: dotted; /* gaya garis titik-titik */
    border-width: 2px;
    border-color: red; /* warna merah (nama warna) */
    padding: 2px;
}

/* Border dengan garis putus-putus merah */
.border-dashed {
    border-style: dashed; /* gaya garis putus-putus */
    border-width: 2px;
    border-color: rgb(255, 0, 0);/* warna merah (format RGB) */
    padding: 2px;
}

/* Border dengan efek 3D terbenam (groove) */
.border-groove {
    border-style: groove; /* efek 3D cekung */
    border-width: 2px;
    border-color: rgba(0, 51, 255, 1.00); /* warna biru (RGBA) */
    padding: 2px;
}

/* Border dengan efek 3D timbul (ridge) */
.border-ridge {
    border-style: ridge; /* efek 3D timbul */
    border-width: 2px;
    border-color: hsl(228, 100%, 50%); /* warna biru (HSL) */
    padding: 2px;
}

/* Border dengan efek terbenam ke dalam */
.border-inset {
    border-style: inset; /* efek terbenam (inset) */
    border-width: 2px;
    border-color: hsla(359, 100%, 50%, 1.00); /* warna merah (HSLA) */
    padding: 2px;
}

/* Border dengan efek timbul keluar */
.border-outset {
    border-style: outset; /* efek timbul keluar */
    border-width: 2px;
    border-color: #000000; /* warna hitam */
    padding: 2px;
}

/* menyembunikan border */
.border-hidden {
    border-style: hidden; /* border tidak terlihat */
    border-width: 2px;
    padding: 2px;
}
